各位好：

    本次配置管理中心6.x-UI自动化测试报告汇总，如下：
        【测 试 报 告】  ：{{ report_link }}
        【用 例 总 数】  ：{{ all_flow_counts }}
        【执 行 成 功】  ：{{ success_flow_counts }}
        【执 行 失 败】  ：{{ fail_flow_counts }}
        【执 行 环 境】  ： {{ test_path }}
        【执 行 耗 时】  ：{{ duration }}
        【浏  览  器 】  ：{{ browser_name }}

    具体的报告详情，请查看链接地址。@所有人

